.author  
  img
    width: 100%
    margin-bottom: 17px
  
  &-infos
    display: block
    remFontSize(12px)
    line-height: 1.2
    color: gray
  
  &-copyright
    margin-top: 15px
    display: block
    remFontSize(12px)
    line-height: 1.2
    color: gray   
