<div class="flyntComponent" is="flynt-block-related-posts">
  <div class="blockRelatedPosts">
    {% for post in posts %}
        {% include 'Partials/Post/index.twig' %}
    {% endfor %}
  </div>
</div>
