//This is the useful part: it compares the given value to the base values and calculates the correct output

remFontSize($fontValue = 16px, $baseFontValue = 16px, $baseLineValue = 23px)
  font-size   ($fontValue / $baseFontValue) rem
  line-height ($baseLineValue/$baseFontValue) * ($fontValue / $baseFontValue) rem
