<nav is="flynt-block-search" class="flyntComponent">
  <div class="blockSearch">
    <form class="blockSearch-form" method="get" action="{{ searchFormAction }}">
      <input type="text" name="s" value="{{ searchFormQuery }}" placeholder="Suche..." />
    </form>
    <button><img src="{{icons.search}}" alt="icon-search" width="20"></button>
  </div>
</nav>
