<div class="flyntComponent" is="flynt-hero-season-header">
  <div class="season-header">
      <button><a href="/">Home</a></button>
    <div class="season-header__wrapper">
      <div class="season-header__name">
        <h1>{{ post.year }}</h1>
        <span>{{ post.title }}</span>
        <a href="#">Video</a>
      </div>
      <div class="season-header__image">
        <img src="{{ post.group_photo  }}" alt="">
      </div>
    </div>
  </div>
</div>
