<div class="flyntComponent" is="flynt-hero-season-header">
  <div class="season-header">
    <div class="season-header__wrapper">
      <div class="season-header__name">
        <h1>{{ post.year }}</h1>
        <span>{{ post.title }}</span>
        {% if youtube_video %}
          <div class="videoWrapper" style="display: none;">
            <button class="exitVideo">exit</button>
            <iframe width="1920" height="1080" src="https://www.youtube.com/embed/{{youtube_video}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <a href="#" class="video">Video</a>
        {% endif %}
      </div>
      <div class="season-header__image">
        <img src="{{ post.group_photo  }}" alt="">
      </div>
    </div>
  </div>
</div>
