$rupture.scale = lookup('$globalRuptureScale') || (0 575px 767px 991px 1199px)
$rupture.anti-overlap = lookup('$globalRuptureAntiOverlap') || -1px
$containerPadding = lookup('$globalContainerPadding') || 15px
$gutterWidth = lookup('$globalGutterWidth') || 15px
$containerMaxWidth = lookup('$globalContainerMaxWidth') || 1140px

.flyntComponent[is="flynt-hero-season-header"]
  *,
  *:before,
  *:after
    box-sizing: border-box

  .season-header
    center($containerMaxWidth, $containerPadding)
    margin-bottom: 70px
    &__wrapper
      display: flex
      justify-content: space-between
      padding-top: 40px
    &__name
      width: 30%
      span
        h1,h2
          margin: 0
      .videoWrapper
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
        bottom: 0
        right: 0
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        z-index: 1
        iframe
          width: 100%
          height: 100%
        button
          position: absolute
          top: 0
      .video
        display: block
        margin-top: 20px
    &__image
      width: 70%
      img
        width: 100%
        height: auto
