<div class="flyntComponent" is="flynt-hero-season-footer">
	<div class="season-footer">
	<p>
	  {% for item in post.choir_members %}
	     {% if loop.last %}
			{{ item.name }}
	     {% else %}
	         {{ item.name }},
	     {% endif %}
	  {% endfor %}
  </p>
		<div>
			<span> {{ post.description }}</span>
		</div>
	</div>
</div>
