$rupture = rupture

$globalRuptureScale = 0 575px 767px 991px 1199px
$globalRuptureAntiOverlap = -1px
$globalContainerMaxWidth = 1140px
$globalContainerPadding = 15px
$globalGutterWidth = 1.5

/* Color palette */

$globalColorBackground = #fff
$globalColorBrand = #254fc7
$globalColorText = #000
$globalColorHeadline = $globalColorText
$globalColorLink = $globalColorBrand

/* Typography */
$fontFamily = Helvetica, Arial, sans-serif
$baseFontSize = 16px
$baseLineHeight = 20px

.acf-flexible-content .layout .acf-fc-layout-handle {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    color: #fff !important;
}
