<div class="flyntComponent" is="flynt-map-google">
  <div class="mapGoogle">
    <iframe class="mapGoogle-iframe" src="https://www.google.com/maps/embed/v1/place?key={{options.googleMapsApiKey}}&q={{ location.address }}"></iframe>
  </div>
</div>
