<div class="flyntComponent" is="flynt-block-season-years-list">
  <div>
    {% for post in posts|sort|reverse %}
        <div>
    		<a href="{{ post.link }}">
          		<h1>{{ post.year | date('Y') }}</h1>
          	</a>
        </div>
    {% endfor %}
  </div>
</div>
