<div class="flyntComponent" is="flynt-block-testimonial">
  <div class="blockTestimonial">
    <div class="blockTestimonial-author">
      {% include 'Partials/Author/index.twig' %}
    </div>
    <div class="blockTestimonial-cite">
      {% include 'Partials/Cite/index.twig' %}
    </div>
  </div>
</div>
