<li class="tweet">
  <a href="{{ tweet.link }}" target="_blank">
    <svg class="tweet-icon"><use xlink:href="{{ icons.symbol~'#icon-twitter' }}"></use></svg>
  </a>
  <div>{{ tweet.text }}</div>
  <small class="tweet-date">{{ tweet.created }}</small>
</li>
