<div class="flyntComponent" is="flynt-grid-home-layout" style="background-color: {{ background_color }}">
 <div class="grid-home">
  {% include 'Partials/Sidebar/index.twig' %}
  {% include 'Partials/Content/index.twig' %}
  </div>
</div>
