<div class="flyntComponent" is="flynt-block-gallery">
	<div class="gallery">
		<div class="gallery-wrapper">
		  {% for item in gallery_photos %}
		      <div class="single-gallery-image">
				<div class="image">
					<img src="{{ item.src | resize(136, 90) }}" alt="{{ item.alt }}">
					<p> {{ item.caption }} </p>
				</div>
		      </div>
		  {% endfor %}
	  </div>
  </div>
</div>
