<div class="flyntComponent" is="flynt-block-gallery">
	<section id="gallery">
	  <div class="container">
	    <div id="image-gallery">
	      <div class="row">
					{% for item in gallery_photos %}
	        <div class="image">
	          <div class="img-wrapper" style="background: url({{ item.src('thumbnail') }})">
	            <a href="{{ item.src }}"><img src="{{ item.src }}" /></a>
	            <div class="img-overlay">
	              <i class="fa fa-plus-circle" aria-hidden="true"></i>
	            </div>
							<div class="caption" style="display: none;">
								{{ item.caption }}
							</div>
	          </div>
	        </div>
					{% endfor %}
	      </div><!-- End row -->
	    </div><!-- End image gallery -->
	  </div><!-- End container -->
	</section>
</div>
